@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 400ms;
}

body
{
    background: url(images/bg3.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}

#bucket-container 
{
    width: 50%;
    margin: auto;
    padding: 10px 35px 20px 35px;
    text-align: center;
    margin-top: 125px;
    /* box-shadow: #474747 2px 2px 9px; */
    box-shadow: #000000 4px 7px 15px;
    border-radius: 15px;
    background: rgb(255, 255, 255,0.9);
}

#bucket-container:hover
{
    box-shadow: #000000 10px 10px 30px;
}

#alert
{
    margin: 15px auto;
    width: 80%;
    letter-spacing: 2px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
}

.alert-danger
{
    background: #ffc0c0;
    color: rgb(137, 5, 5);
}

.alert-success
{
    background: #a5ffa0;
    color: rgb(0, 84, 0);
}

#input-container h1 {
    letter-spacing: 5px;
    font-family: 'Libre Franklin', sans-serif;
    color: #1d5d82;
}

#grocery-form 
{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 156px;
    height: 40px;
    margin-top: 40px;
}

#grocery-form input 
{
    border: none;
    background: #ffffff;
    height: 40px;
    width: 450px;
    padding: 5px 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 22px;
}

#grocery-form button 
{
    width: 130px;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    background: #4bbaf7;
    font-family: 'Noto Sans', sans-serif;
}

#grocery-form button:hover
{
    background: #0079bb;
    color: white;
}

#list-container
{
    margin-top: 50px;
}

.item
{
    margin: 15px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* background: #e4f3fb; */
    background: #4a4853;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

.item:hover
{    
    background: #242327;
}

.button-section
{
    display: flex;
    justify-content: space-between;
    width: 45px;
    font-size: 18px;
    align-items: center;
}

.edit
{
    color: #06dd5c;
}

.delete
{
    color: rgb(249, 72, 72);
}

#clearAll
{
    border: none;
    background: transparent;
    letter-spacing: 3px;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(107, 21, 21);
    height: 35px;
    width: 150px;
    visibility: hidden;
}

#clearAll:hover
{
    color: rgb(223, 84, 84);
}